{% extends "projects/base.html" %}
{% block page_content %}
	{{ super() }}
	<h2>What does fightclub allow you to do?</h2>
	<p>
		Fightclub allows you to connect your bot to the website, and add buttons to your virtual gamepad and hook them up to your own code.
		You can either use block based programming, or you can use Python-scripting.
	</p>
	<h2>Gallery</h2>
	<img src="./images/gamepad.png" alt="A grid of tiles with directional buttons and a claw toggle. The elements are styled like LEGOs where the empty tiles are studs.">
{% endblock %}
